body{
    background: #BDBDBD;
}
.header-image {
    background: url(https://www.cuencanews.es/fotos/1/1_318_02.jpg);/* Use a tiling background image or a full width image - if you're using full width you will need to change no-repeat center center cover  */
    
	width: 100%;
	text-align: center;
}

.headline {
	padding: 120px 0;
}

.headline > .container > h1 {
	font-size: 120px;
	background: #ffffff;
	background: rgba(255, 255, 255, 0.9);
}

.headline > .container > h2 {
	font-size: 77px;
	background: #ffffff;
	background: rgba(255, 255, 255, 0.9);
}