<!-- your html code here 
<p>Hello, I'm contact.html</p>-->
<form style="font-family:'Poppins', sans-serif; margin: 60px;">
    <h1>
        Contact
    </h1>
        <p>
        Donec ullamcorper nulla non metus auctor fringilia. Vestibulum id liguala 
        porta felis euismod semper. Praesent commodo cursus <br>
        magna, vel scelerisque nisl consectetur. Fusce dapibus, 
        tellus ac cursus commodo.
        </p>
    <p>
        <section style="border: 2px solid gray; text-align: right;
         background-color: whitesmoke; padding: 5px; text-align: center;">
        <div>
            <p><label>Your E-mail</label>
                <input type="email" style="padding-left: 10px;" 
                placeholder= "Your E-Mail">
        </div>
    </p>
    <p>
        <div>
    <label style="margin-bottom: 100px;">Your message</label>
        <input type="text" style="padding-left: 10px; padding-bottom: 50px;
         box-sizing: content-box; width: 200px; height: 100px;"  placeholder="Your message">
        </div>
    </p>
  </p>
    <div style="text-align: right; margin: 10px;">  
        <button type="submit" style="text-align: right; background-color: royalblue;
         color: white; padding: 10px; border-radius: 5px;" >
            Submit
        </button>
    </div>
    </section>
    <p></p>
</div>
</form>