<!-- your html code here -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
    <div class="container" style="margin-top: 10%;">
        <div class="row justify-content-center">
            <div class="col-8" style="padding: 0% 4% 0% 5%;">
                <h2>
                    The First Heading
                    <small class="text-muted">Will Catch Your Eye</small>
                </h2>
                <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis eusimod semper.
                    Praesent
                    commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cussus commodo.</p>
            </div>
            <div class="col-4">
                <img src="/workspace/exercise-collaborative-html-website/website1/assets/img/1.jpg"
                    class="rounded-circle" alt="Man with
            eyeglasess" width="250" height="250">
            </div>
        </div>
    </div>
    <div class="float-end" style="color: red">
        <p>first-heading.html</p>
    </div>
</body>

</html>