<!-- your html code here -->
<div class="container">
                <h3>Portfolio</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed soluta corrupti nihil, 
                    rerum voluptas explicabo ipsam atque repellat cupiditate, quasi placeat repudiandae </p>
        
                <div class="row" style="margin-top: 10px;">

                        <div class="card m-1" style="width: 14rem;" >
                            <img src="./assets/img/edif1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5>Project Name</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                        
                        <div class="card m-1" style="width: 14rem;">
                            <img src="./assets/img/edif2.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5>Project Name</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                        
                        <div class="card m-1" style="width: 14rem;">
                            <img src="./assets/img/edif3.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5>Project Name</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                </div>
                
 </div>