<!-- your html code here -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
    <div class="container">
     <div class="row">
      <div class="col-4">
         <img src="https://browser-teal-antelope-38tzo7w7.ws-us03.gitpod.io/workspace/exercise-collaborative-html-website/website1/assets/img/2.jpg" 
          class="rounded-circle" alt="Man with
          eyeglasses" width="235" height="235">
      </div>
        <div class="col-8">
        <h1>
         The Second Heading
         <small class="text-muted">Is pretty Cool Too.</small>
        </h1>
        <p>Donec ullamcorper nulla non metus autor fringilla. Vestibulum id ligula porta felis
         euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur.
        fusce dapibus,tellus ac cursus commodo</p>
        </div>
        <div class="float-end" style="color: red">
            <p class="text-end">services.html</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>